/* Para Cell */
.main-banner {
    background-image: url(../../assets/images/peliculas-2.png);
    padding: 2rem 1.5rem;
    padding-bottom: 0.5rem;
    /* height: 300px; */
}

.container{
    padding-top: 1.5rem;
}

.section{
    margin-bottom: 2rem;
}


/*  Variables de tamaño en tables  */
@media screen and (min-width: 640px) {

    .main-banner {
        padding: 2rem 10rem;
        height: 300px;
        padding-bottom: 2rem;
    }

}

/* Para desktop */
@media screen and (min-width: 1024px) {
    .main-banner {
        padding: 2rem 20.5rem;
        height: 300px;
        padding-bottom: 2rem;
    }

    h1{
        padding-top: 2rem;
    }

}